/* General Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #181818;
    color: #fff;
}

/* Header */
header {
    background-color: #000;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: 0;
    padding: 0;
}


nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 10px 15px;
    border: 1px solid transparent;
    transition: 0.3s;
}

nav ul li a:hover {
    border: 1px solid #fff;
    border-radius: 5px;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #181818;
}

.hero .content {
    max-width: 50%;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #ccc;
}

.hero .slogan {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffc107;
    margin-bottom: 20px;
}

.hero .buttons {
    display: flex;
    gap: 20px;
}

.hero .buttons a {
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    color: #000;
    background-color: #ffc107;
    border-radius: 5px;
    transition: 0.3s;
}

.hero .buttons a:hover {
    background-color: #e0a800;
}

.hero img {
    max-width: 40%;
    border-radius: 15px;
}

/* Statistics Section */
.statistics {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.statistics div {
    margin: 0;
}

.statistics h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.statistics p {
    font-size: 1rem;
    color: #ccc;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #000;
    color: #fff;
}

.logo-container {
    display: inline-block;
    margin-left: 20px;
}

.logo {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    vertical-align: middle;
}


.site-title {
    height: 1px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #ffffff;
    margin-left: 50px;
    display: inline-block;
}



























